# CMake / Ninja / Make
/CMakeFiles/
/Testing/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log

# Build directories
/build/
/build-*/
/cmake-build-*/
/vs2026-*/
/vs2026-build/
/out/
/install/

# Compiled binaries and libraries
*.a
*.dll
*.dylib
*.exe
*.exp
*.idb
*.ilk
*.lib
*.o
*.obj
*.pdb
*.so

# IDEs
.idea/
.vscode/
.vs/
